body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.count {
  font-size: 48px;
  margin: 20px 0;
  color: rgb(63, 229, 37);
}

.red {
  color: red;
}

.buttons button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}